useDynLib("RcppEigen", .registration=TRUE)

importFrom("Rcpp", "evalCpp")
importFrom("utils", "packageDescription", "package.skeleton", "packageVersion")
importFrom("stats", "model.frame", "model.matrix", "model.response", "fitted", "coef", "printCoefmat", "pt", "na.omit")
export("fastLm",
       "fastLmPure",
       "RcppEigen.package.skeleton",
       "EigenNbThreads",
       "EigenSetNbThreads",
       "RcppEigen_throttle_cores",
       "RcppEigen_reset_cores"
       )

S3method("fastLm", "default")
S3method("fastLm", "formula")
S3method("predict", "fastLm")
S3method("print", "fastLm")
S3method("summary", "fastLm")
S3method("print", "summary.fastLm")
